@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 32px;
  line-height: 44px;
}

h2 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}

.link--external {
  font-style: italic;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  padding-left: 12px;
  position: relative;
  transition: all 0.3s;
}

.link--external::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 6px;
  height: 8px;
  background-image: url(/assets/img/arrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.link--external::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
}

.link--external:hover::after {
  background-color: #151512;
}

.nav {
  max-width: 680px;
}

.nav-mobile {
  height: 73%;
}

.section__text {
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
}

.work__heading {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
}

.work__text {
  font-size: 14px;
  line-height: 180%;
  opacity: 0.75;
  text-align: start;
  max-width: 370px;
}

@media (max-width: 1023px) {
  .work__heading {
    font-size: 18px;
    line-height: 25px;
  }

  .work__text {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 24px;
    line-height: 33px;
  }

  .nav {
    max-width: 480px;
  }

  .section__text {
    font-size: 12px;
  }
}
